* {
  box-sizing: border-box;
}
h1{
  font-family: Acmefont;
}
 .container {
    background-color: white;
    background-image: url("./Images/Header.jpg");
    background-size: auto;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Properties when pressed */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    color:black;
    padding: 10px;
    text-decoration: none;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }